In [ ]:
# Performing Feature Engineering on Titanic dataset